{% extends "liste/base.html" %}

{% block profile %}
	<fieldset>
		<h1>IMAGE HERE</h1>
		<button>Sign Out</button>
		<hr/>
		<div id="userlists">
			<ul>  			<!-- Dummy data -->
				<li><a>Taco</a></li>
				<li><a>Roadtrip</a></li>
				<li><a>Party</a></li>
				<li><a>Taco</a></li>
				<li><a>Roadtrip</a></li>
				<li><a>Party</a></li>
				<li><a>Party</a></li>
				<li><a>Party</a></li>
				<li><a>Taco</a></li>
				<li><a>Roadtrip</a></li>
				<li><a>Party</a></li>
				<li><a>Party</a></li>
				<li><a>Party</a></li>
				<li><a>Taco</a></li>
				<li><a>Roadtrip</a></li>
				<li><a>Party</a></li>
				<li><a>Party</a></li>
			</ul>
		</div>
		<br>
		<input type="text" placeholder="Enter name of list">				<!-- connect to the button/function -->
		<button onclick="">Create shopping list</button>  					<!-- connect to the create list function -->
	</fieldset>

{% endblock profile %}



{% block list %}
	<fieldset>

		<h1>TACO KVELD</h1><button onclick="hide()" id="hideParti">></button><br>
		<small>Created by <b><a style="color: orange;">USER</a></b></small><hr/>
		<div id="items">
			<ul>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
				<li><input type="checkbox">ost</li>
				<li><input type="checkbox">tacolefser</li>
			</ul>
		</div>
		<br>
		<div>
			<input type="text" placeholder="Enter name of item">
			<input type="text" placeholder="Amount">
			<button id="add">ADD</button>
		</div>
	</fieldset>
{% endblock list %}


{% block participants %}
	<fieldset>
		<h3>Participants</h3>
		<div id="members">
			<ul>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
				<li>Ola</li>
				<li>Kari</li>
				<li>Frank</li>
			</ul>
		</div><br>
		<input type="text" placeholder="USERNAME"><button id="shareButton">Share</button>
	</fieldset>
{% endblock participants %}













