
{% extends "liste/base.html" %}
{% block profile %}
	<fieldset>

			<h1>PICTURE</h1>
			<p>Sign Out</p>
		</fieldset>
{% endblock profile %}


{% block userlists %}
	<fieldset>

			<ul>  			<!-- Dummy data -->
  				<li><a>Taco</a></li>
  				<li><a>Roadtrip</a></li>
  				<li><a>Party</a></li>
			</ul>
		</fieldset>
		<fieldset>
			<br>
			<input type="text" placeholder="Enter name of list">				<!-- connect to the button/function -->
			<button onclick="">Create shopping list</button>  					<!-- connect to the create list function -->
		</fieldset>
{% endblock userlists %}



{% block list %}
	<fieldset>

		<h1>TACO KVELD</h1>
		<small>Created by USER</small>
		<ul>
			<li><input type="checkbox">ost</li>
			<li><input type="checkbox">tacolefser</li>
		</ul>
		<div>
			<input type="text" placeholder="Enter name of item">
			<input type="text" placeholder="Amount">
			<input type="button" value="ADD">
		</div>
	</fieldset>
{% endblock list %}


{% block participants %}
	<fieldset>

		<ul>
			<li>Ola</li>
			<li>Kari</li>
			<li>Frank</li>
		</ul>
		<input type="text" placeholder="USERNAME"><input type="submit" value="Share">
	</fieldset>
{% endblock participants %}













