
{% extends "users/base.html" %}
{% block content %}


	<form style="width:25%" method="CREATELIST">
		<fieldset>
			<legend>My shopping lists</legend>
			<ul style="list-style-type:none;">
  				{% for lists in new_list %}									<!-- loops through current lists -->
					<li class="list-group-item">{{lists.title}}</li>		<!-- displays each list with title -->
				{% endfor %}												<!-- this is not working yet though... :(-->


				<!-- Dummy data -->
				<li><a href="taco">Taco</a></li>
  				<li><a href="roadtrip">Roadtrip</a></li>
  				<li><a href="party">Party</a></li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Create new list</legend>
			Name your list: <br>
			<input type="text" name="listname">				<!-- connect to the button/function -->
			<button type="submit" onclick="">Create List</button>  		<!-- connect to the create list function -->
		</fieldset>
	</form>



{% endblock content %}

