<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping list website</title>
    <style>
        a {
            color: black;
            text-decoration: none;
        }
        .item-bought {
	        text-decoration: line-through;
            -webkit-text-fill-color: darkgray;
            color: darkgrey;
        }
    </style>
</head>
<body>
    <p>Currently logged in as: {{ user.username }}</p>

    {% csrf_token %}

{% if messages %}

{% for message in messages %}

{{message}}

{% endfor %}
{% endif %}

    {% if user.is_authenticated %}
	You are logged in.
	<a href="/logout">Log out</a>

{% else %}
	You are logged out.
	<a href="/login">Log in</a>
	<a href="http://localhost:8000">Register</a>

{% endif %}


    <!-- The shopping list the user participates in -->
    <h1>My shopping lists</h1>
    <ul>
    {% for shopping_list in my_shopping_lists %}
        <li><a href="{% url 'detail' shopping_list.id %}">{{ shopping_list.title }}</a></li>
    {% endfor %}
    </ul>

    <form action="{% url 'create-list' %}" method='POST'>
        {% csrf_token %}
        {{ shopping_list_form.title }}
        <button type='submit'>CREATE LIST</button>
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>