<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My shopping lists</title>
    <style>
        .item-bought {
	        text-decoration: line-through;
        }

        a {
            color: black;
            text-decoration: none;

        }

    </style>
</head>
<body>
    <a href="{% url 'index' %}"><h1>My shopping lists</h1></a>
    <ul>
    {% for shopping_list in shopping_lists %}
        <li><a href="{% url 'detail' shopping_list.id %}">{{ shopping_list.title }}</a></li>
    {% endfor %}
    </ul>
    <form action="{% url 'create-list' %}" method='POST'>
        {% csrf_token %}
        {{ shopping_list_form.title }}
        <button type='submit'>CREATE LIST</button>
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>