{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="{% static 'shopping_list/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Shopping list website</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <p style="color:white;">Currently logged in as: <code>{{ user.username }}</code></p>
        {% if user.is_authenticated %}
            <p style="color: white;">INSERT PRODUCT NAME HERE</p>
            <a href="/logout">Log out</a><br>

        {% else %}
            <p style="color: white;">You are logged out.</p>
            <a href="/login">Log in</a>
            <a href="http://localhost:8000">Register</a>
        {% endif %}

    </nav>
    <div class="container-fluid" style="display:flex; margin-top:2%;">
        <div id="profile" class="col-3" style="border-style: none;">

            {% csrf_token %}

            {% if messages %}

            {% for message in messages %}

            {{message}}

            {% endfor %}
            {% endif %}



            <!-- The shopping list the user participates in -->
            <h2><small>My shopping lists</small></h2>

            {% for shopping_list in my_shopping_lists %}
                <a class="list-group-item list-group-item-action" href="{% url 'detail' shopping_list.id %}">{{ shopping_list.title }}</a>
            {% endfor %}


            <form action="{% url 'create-list' %}" method='POST'>
                {% csrf_token %}
                {{ shopping_list_form.title|as_crispy_field }}
                <button type='submit' class="btn btn-primary">CREATE LIST</button>
            </form>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>