{% extends 'shopping_list/index.html' %}

{% block content %}
    <h1>{{ shopping_list.title }}</h1>
    <p>Created by {{ shopping_list.owner }}</p>

    <h3>Participants</h3>
    <ul>
        <li>{{ shopping_list.owner }}</li>
        {% for participant in shopping_list.participants.all %}
        <li>{{ participant }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'share-shopping-list' shopping_list.id %}" method='POST'>
        {% csrf_token %}
        {{ share_form.username }}
        <button type="submit">SHARE</button>
    </form>
    {% block error_message %}
    {% endblock %}

    <table style='width:50%'>
        {% for item in item_list %}
            <tr>
                {% if item.bought %}
                    <td class="item-bought"><a href="{% url 'not-bought' item.id %}">{{ item.name }}</a></td>
                    <td class="item-bought"><a href="{% url 'not-bought' item.id %}">{{ item.amount }}</a></td>
                {% else %}
                    <td><a href="{% url 'bought' item.id %}">{{ item.name }}</a></td>
                    <td><a href="{% url 'bought' item.id %}">{{ item.amount }}</a></td>
                {% endif %}
                    <td>
                        <!-- Only item creator and shopping list owner should see this-->
                        {% if shopping_list.owner == user or item.creator == user %}
                        <form action="{% url 'delete-item' item.id %}" method='POST'>
                            {%  csrf_token %}
                            <button type="submit">DELETE ITEM</button>
                        </form>
                        {% endif %}
                    </td>
            </tr>
        {% endfor %}
            <tr>
                <form action="{% url 'add' shopping_list.id %}" method='POST'>
                    {% csrf_token %}
                    <td>{{ item_form.name }}</td>
                    <td>{{ item_form.amount }}</td>
                    <td><button type="submit">ADD</button></td>
                </form>
            </tr>
    </table>
    <form action="{% url 'detail' shopping_list.id %}" method='POST'>
        {% csrf_token %}
        <td><button type="submit">REFRESH</button></td>
    </form>
{% endblock %}