{% extends 'shopping_list/index.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>{{ shopping_list.title }}</h3>
<!--
            <div class="chip red lighten-1">
                {{ shopping_list.owner }}
                {% if user == shopping_list.owner %}
                    <a href="" style="color:black"><i class="close material-icons">close</i></a>
                {% endif %}
            </div>


            {% for admin in shopping_list.admins.all %}
                <div class="chip red lighten-3">
                    {{ admin }}
                    {% if user in shopping_list.admins.all or user == shopping_list.owner %}
                        <a href="{% url 'remove-user-from-shopping-list' shopping_list.id participant.username %}" style="color:black"><i class="close material-icons">close</i></a>
                    {% endif %}
                </div>
            {% endfor %}



            {% for participant in shopping_list.participants.all %}

                {% if user in shopping_list.admins.all or user == shopping_list.owner %}
                    <div class="chip">
                        {{ participant }}
                        <a href="{% url 'remove-user-from-shopping-list' shopping_list.id participant %}" style="color:black"><i class="close material-icons">close</i></a>
                    </div>

                {% else %}
                    <div class="chip">
                        {{ participant }}
                        {% if participant.username == user.username %}
                            <a href="{% url 'remove-user-from-shopping-list' shopping_list.id participant %}" style="color:black"><i class="close material-icons">close</i></a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <a href="#"><div class="chip"><i class="tiny material-icons toggle-visibility">person_add</i></div></a>


            {% if user in shopping_list.admins.all or user == shopping_list.owner %}
                <div>
                    <ul id="dropdown2" class="dropdown-content">
                        {% for participant in shopping_list.participants.all %}
                            <li><a href="{% url 'make-admin' shopping_list.id participant %}"> {{ participant }} </a></li>
                        {% endfor %}
                    </ul>
                    <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Make admin<i class="material-icons right">arrow_drop_down</i></a>
                </div>
            {% endif %}
            -->
            <div class="row toggle-item">
                <form action="{% url 'share-shopping-list' shopping_list.id %}" method='POST' class="col 12">
                    {% csrf_token %}
                    <div class="input-field col s10">{{ share_form.username }}</div>
                    {{ share_form.errors }}
                    <div class="input-field col s2">
                        <button type="submit" class="waves-effect waves-light btn">
                            <i class="material-icons">person_add</i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="collection">
                {% for item in item_list %}
                        {% if item.bought %}
                            <a href="{% url 'not-bought' item.id shopping_list.id %}" class="collection-item row">
                                <div class="col s6 item-bought">{{ item.name }}</div>
                                <div class="col s3 item-bought">{{ item.amount }}</div>
                                {% if shopping_list.owner == user or item.creator == user %}
                                    <form action="{% url 'delete-item' item.id shopping_list.id %}" method='POST' class="col s1 offset-s2 button-fix">
                                    {%  csrf_token %}
                                    <button type="submit" class="waves-effect waves-light btn secondary-content">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    </form>
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="{% url 'bought' item.id shopping_list.id %}" class="collection-item row">
                                <div class="col s6">{{ item.name }} </div>
                                <div class="col s3">{{ item.amount }}</div>
                                {% if shopping_list.owner == user or item.creator == user %}
                                <form action="{% url 'delete-item' item.id shopping_list.id %}" method='POST' class="col s1 offset-s2 button-fix">
                                    {%  csrf_token %}
                                    <button type="submit" class="waves-effect waves-light btn secondary-content">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                                {% endif %}
                            </a>
                        {% endif %}
                {% endfor %}
                </div>
            <div class="row">
                <form action="{% url 'add' shopping_list.id %}" method='POST' class="col s12">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">{{ item_form.name }}</div>
                        <div class="input-field col s4">{{ item_form.amount }}</div>
                        <div class="input-field col s2">
                            <button type="submit" class="waves-effect waves-light btn">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="fixed-action-btn">
                {% if user == shopping_list.owner %}
                    <a class="btn-floating btn-large red lighten-2" href="{% url 'delete-shopping-list' shopping_list.id %}">
                        <i class="large material-icons">delete</i>
                    </a>
                {% endif %}


                  <a class="btn-floating btn-large red lighten-2" href="">
                    <i class="large material-icons">refresh</i>
                  </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
