{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

	<div style="border: solid black 1px; padding: 15px; border-radius: 5px; margin: 0 auto;" class="col-4">
		{% csrf_token %}

		{% if messages %}

		{% for message in messages %}

		{{message}}

		{% endfor %}
		{% endif %}

		{% if user.is_authenticated %}
		<p>You are logged in.</p>
			<a href="/main">Go to main page</a><br>
			<a href="/logout">Log out</a>

		{% else %}
		<p>You are logged out.</p>
			<a href="/login">Log in</a><br>
			<a href="http://localhost:8000">Register</a>

		{% endif %}
	</div>
{% endblock %}

{% block navbar %}
	successfully logged out
{% endblock %}