{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<form method="POST">

		{% csrf_token %}
		{{form.username|as_crispy_field}}
		{{form.password1|as_crispy_field}}
		{{form.password2|as_crispy_field}}
		<button type="submit" class="btn btn-success">Register</button>
	</form>

	{% if messages %}

	{% for message in messages %}

	{{message}}

	{% endfor %}
	{% endif %}


	<br/>
	Already have an account? <a href="/login">Login</a> instead.

{% endblock %}

{% block navbar %}
	Please register
{% endblock %}